---
import Layout from "../layouts/Layout.astro";
import { SignedIn, SignedOut } from "@clerk/astro/components";
import { GroceryListComponent } from "../components/GroceryListComponent";
---

<Layout title="Your Grocery List">
  <main class="max-w-xl mx-auto py-12">
    <SignedOut>
      <p class="text-center">You must sign in to access this page.</p>
    </SignedOut>

    <SignedIn>
      <GroceryListComponent client:load />
    </SignedIn>
  </main>
</Layout>
