---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Grocery List App">
  <main class="max-w-xl mx-auto py-12">
    <h1 class="text-3xl font-bold mb-4">Grocery List App</h1>
    <p>
      Welcome to the Grocery List App! This is a simple application to help you
      manage your grocery lists efficiently. only for authenticated users.
    </p>
  </main></Layout
>
